html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-family: sans-serif;
	color: #336600;
	text-align: center;
	text-size: 200%;
	/* Disable text selection. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#socialMedia {
	position: fixed;
	bottom: -75px;
	left: 0;
	width: 100%;
	height: 100px;
	color: #336600;
	background-color: #E8EAEB; 
}

#socialUpDiv img{
	padding-top: 3px;
	height: 20px;
}

#heading {
	background: #FF7F00; /*#FF7744;*/
	color: #EEEEEE;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

#screen {
	min-height: 100%;
}

#topPlaceholder {
	border:1px solid clear;
	border-color:#333333;
	text-align: center;
	width: 37.5%;
	height: 3%;
	float: left;
}

#backDiv {
	text-align: center;
	width: 20%;
	height: 30px;
	float: left;
}

/* --------------------------index.html---------------------------*/

#bannerDivHome {
	width:150px;
	height: 41px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#bannerDivHome img{
	display:block;
	width: 100%;
}

#loginDiv {
	margin-left: auto;
	margin-right: auto;
    width: 60px;
    height: 30px;
    display: inline-block;
}

#logoutDiv {
	margin-left: auto;
	margin-right: auto;
    width: 60px;
    height: 30px;
    display: none;
}

#backDivHome {
	margin-left: auto;
	margin-right: auto;
    width: 60px;
    height: 30px;
    display: inline-block;
}

#tickerDiv {
    position:relative;
    margin-top: 7%;
    height: 7%;
    width: 100%;
    clear: both;
}

/* -------------------------ggcApps.html------------------------------*/

#bannerDiv {
	text-align: center;
	width:25%;
	height: 3%;
	float: left;
	padding-left: 17.5%;
}

/* ----------------------index.html & ggcApps.html------------------*/

.iconRow {
	padding: 7% 10% 7% 10%;
}

#homeContent {
	padding-bottom: 7%;
}

#icons div {
	height: 90px;
}

#icons {
	padding-left: 5%;
	padding-right: 5%;
}

.icon {
	width: 90px;
	height: 90px;
}

.socialMediaIcon {
	width: 35px;
	height: 35px;
}

/* -------------------------------------mySchedule.html------------------------------*/

table {
	border-collapse: collapse;
}

/* ----------------------------------------gymInfo.html----------------------------------------------------- */

.gymInfoLinks {
	width:70%;
	font-size: 18px;
	background-color: #66FF33;
}

.gymLinksDiv {
	padding: 5px 5px 5px 5px;
}

/* ----------------------------------------gymSchedule.html----------------------------------------------------- */

.gymContactInfoLeft {
	width: 30%;
	text-align: right;
	display: inline-block;
}

.gymContactInfoRight {
	text-align: left;
	display: inline-block;
	padding-left: 10%;
}

/* ------------------------groupFitnessSchedule.html --------------------------*/
.styled_table {
    border-left: 1px solid #B3C1AC !important;
    border-top: 1px solid #B3C1AC !important;
}
.styled_table td {
    border-bottom: 1px solid #B3C1AC;
    border-right: 1px solid #B3C1AC;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    white-space: nowrap;
}
.styled_table tr:nth-child(2n+1) {
    background-color: #E8EAEB;
}

.styled_table th {
    background-color: #CDE5BB;
    border-bottom: 1px solid #B3C1AC;
    border-right: 1px solid #B3C1AC;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* -----------------------classSearch.html -----------------------------------*/
.clasSearchComboBox {
    font-size: 20px;
    width: 50%;
    display: inline-block;
    border: 0px solid red;
}

.classSearchInputField {
    font-size: 20px;
    width: 50%;
    display: inline-block;
    overflow: hidden;
}

.classSearchLabel {
    font-size: 20px;
    width: 15%; 
    display: inline-block;
    padding-left: 10%;
}

.classSearchSpan {
    width: 15%; 
    display: inline-block;
}
.classSearchCoursesSpan {
    width: 5%;
    display: inline-block;
}

/* ---------------------------login.html -----------------------------------*/
.passwordLabels {
    width: 30%;
    padding-left: 5%;
    text-align: right;
    display: inline-block;
}
